# Node.js dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CIRCOM and SnarkJS build files
*.r1cs
*.wasm
*.zkey
verification_key.json
circuit_*.zkey
circuit_js/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and text editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.ptau
